<div class="row">
    <div class="col-sm-12">
        <div>
            Delete has been successful.
        </div>
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>
